body {
    font-family: Trebuchet, sans-serif;
    font-family:11pt;
    color:black;
}

.textoGrande {
    font-size: 17pt;
    color:black;
    font-family:'Roboto', sans-serif;
}


.textoNegrita {
    font-weight: bold !important;
}

.LinkShort{
     text-decoration: none;
     color: black;
     cursor:pointer;
     text-decoration: underline;
 }

.capaPrincipal {
    width: 1010px;
    position: absolute;
    left: 50%;
    margin-left: -505px;
    top: 20px;
}

.tablaPrincipal{
    width: 100%;
}
.textoGrandeMas {
    font-family:'Roboto', sans-serif;
    font-size:18pt;
    color:black;
}
.textoNormal{
    font-family:'Roboto', sans-serif;
    font-size:11pt !important;
    color: black;
}
.textoGrandeMasMas {
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    color: black;
}

.alignCenter {
    text-align: center;
}
img{
    border-style: none;
}
table{
    border:none;
    border-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-collapse: collapse;
}

td{
    padding: 0 0 0 0;
}

.celdaPropiedad{
    width: 120px;
    text-align: right;
    padding-top:8px;
    font-size:11pt !important;
}

.celdaValor{
    text-align:left;
    padding-left: 5px;
    width:150px;
    padding-top:8px;
}



