<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sabre.Entities.Properties.Settings.dbEtrevistasConnectionString"
            connectionString="Data Source=DESKTOP-GKJHEGU\MATITEST;Initial Catalog=dbEtrevistas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>